#city-search {
    margin-bottom: 0px;
}

#search-history-card {
    margin-top: 10px;
}

#city-search-list {
    color: black;
}

.city-history-btn {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0px;
    border: none;
    background-color: transparent;
}