#city-search {
    margin-bottom: 0px;
}

#search-history-card {
    margin-top: 10px;
}

#city-search-list {
    color: black;
}

.city-history-btn {
    display: inline-block;
    background-color: transparent;
}

.city-history-btn:active {
    display: inline-block;
    background-color: transparent;
}

.list {
    list-style: none;
}